<nav class="breadcrumbs" aria-label="Breadcrumb">
  <ol itemscope itemtype="https://schema.org/BreadcrumbList">
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ '/' | relative_url }}"><span itemprop="name">Home</span></a>
      <meta itemprop="position" content="1" />
    </li>
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ '/blog/' | relative_url }}"><span itemprop="name">Blog</span></a>
      <meta itemprop="position" content="2" />
    </li>
    {% if page.silo %}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ '/blog/' | append: page.silo | append: '/' | relative_url }}"><span itemprop="name">{{ page.silo | replace: '-', ' ' | capitalize }}</span></a>
      <meta itemprop="position" content="3" />
    </li>
    {% if page.layout == 'post' %}
    <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <span itemprop="name">{{ page.title }}</span>
      <meta itemprop="position" content="4" />
    </li>
    {% endif %}
    {% endif %}
  </ol>
</nav>
